apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ kubernetes_apiserver_advertise_address }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version_kubeadm }}
controlPlaneEndpoint: {{ kubernetes_control_plane_endpoint }}:8443
networking:
  podSubnet: {{ kubernetes_pod_network.cidr }}

